.content-block {
    padding: 40px 80px 0;
}

.block_display_flex {
    display: flex;
}

.menu li {
    display: inline-block;
}

.menu a {
    text-decoration: none;
    line-height: 50px;
    padding-left: 20px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.title {
    font-size: 45px;
    color: rgb(6, 30, 55);
    text-align: center;
}

.button {
    width: 150px;
    height: 55px;
    border-radius: 5px;
    font-size: 15px;
    text-transform: uppercase;
}

.text__title {
    margin: 0 370px;
    padding: 15px 0 40px;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
}

.text__title_gray {
    color: rgb(176, 190, 197);
}

@media only screen and (max-width: 1025px) {
    .content-block {
        padding: 2% 4% 0;
    }

    .text__title {
        margin: 0 270px;
    }
}

@media only screen and (max-width: 768px) {
    .text__title {
        margin: 0 170px;
    }
}

@media screen and (max-width: 426px) {
    .content-block {
        padding: 10px 20px 0;
    }

    .text__title {
        margin: 0;
    }
}

@media only screen and (max-width: 321px) {
    .menu a {
        padding: 10px;
    }

    .button {
        width: 130px;
    }


}
